.new-item {
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.new-item button{
  background-color: var(--color-blue-grotto);
  color: white;
}

#alingment{
  display: flex;
  padding: 2rem 15rem;

  div {
    width: 100%;
  }
}