<mat-toolbar class="toolbar">
  <button
    matIconButton
    class="example-icon"
    aria-label="Example icon-button with menu icon"
    id="create-new-page"
    class="btn-header"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>Gastos Pessoais</span>
  <span class="example-spacer"></span>
  <button
    matIconButton
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
    id="account"
    class="btn-header"
  >
    <mat-icon>person</mat-icon>
  </button>
</mat-toolbar>
