:root {
  --color-midnight: #192e41;
  --color-dark-blue: #05263b;
  --color-blue-grotto: #0d659d;
  --color-green: #27ae60;
  --color-red: #c0392b;
  --color-white: #f5f5f5;
  --color-light-blue: #b0c4de;
}

.new-item {
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.new-item button{
  background-color: var(--color-blue-grotto);
  color: white;
}

#alingment{
  display: flex;
  gap: 2rem;
  padding: 20px 40px;
  div {
    width: 50%;
  }
}