:root {
  --color-midnight: #192e41;
  --color-dark-blue: #05263b;
  --color-blue-grotto: #0d659d;
  --color-green: #27ae60;
  --color-red: #c0392b;
  --color-white: #f5f5f5;
  --color-light-blue: #b0c4de;
}

.body {
  background-color: #0a141d;
  border-radius: 20px;
  width: 100%;
  min-height: 35rem;
  max-height: none;
}

.body-content {
  padding: 20px;
}

.add-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  flex-wrap: wrap;
}

.content {
  display: flex;
  flex-direction: column;
}

#text-type,
#create-type-value {
  font-size: 1rem;
  border: none;
}

#list-type-values {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#list-type-values li {
  list-style-type: none;
  font-size: medium;
  text-transform: capitalize;
  display: flex;
  justify-content: space-between;
}

.pop-up {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.pop-up-content {
  background: var(--color-midnight);
  padding: 20px;
  border-radius: 12px;
  min-width: 300px;
  max-width: 90vw;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.example-full-width {
  width: 100%;
}

#create-type-value {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  background-color: var(--color-green);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: var(--color-white);
}

.item-content {
  display: flex;
  justify-content: space-between;
  border-radius: 15px;
  align-items: center;
  span {
    margin-left: 10px;
  }
  cursor: pointer;
}

.positive {
  color: #0e8240;
  border: 2px solid #0e8240;
  font-weight: bold;
  .more-icon {
    color: #0e8240;
  }
  &:hover {
    background-color: #0e8240;
    color: #cdf9e0;
    transition: all ease-in-out 0.3s;
    .more-icon {
      color: #cdf9e0;
    }
  }
}

.negative {
  color: var(--color-red);
  border: 2px solid var(--color-red);
  font-weight: bold;
  .more-icon {
    color: var(--color-red);
  }
  &:hover {
    background-color: var(--color-red);
    color: #fcc3bd;
    transition: all ease-in-out 0.3s;
    .more-icon {
      color: #fcc3bd;
    }
  }
}

.action-buttons {
  display: flex;
  justify-content: space-between;
}

.right {
  display: flex;
  gap: 1rem;
}

.head-info {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  border-bottom: 3px solid #44474e;
}

#card-order {
  display: flex;
  justify-content: space-between;
  .left-info {
    display: flex;
    gap: 2rem;
  }
}

.right-info {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.date-picker{
  height: 0;
  flex-direction:row;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 1rem;
}

.sliders{
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items:normal;
}

.sliders-arrow{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#up{
  color: var(--color-green);
}

#down{
  color: var(--color-red);
}

.toggler{
  background-color: #f5f5f5;
  border: 3px solid;
  border-radius: 20px;
}