<div class="body">
  <div class="head-info">
    <div class="right">
      <h2 id="balance-type">Total:</h2>
      <h2 id="total-value">R${{ getTotalValue() }}</h2>
    </div>
    <div class="date-picker">
      @if(datePicker){
      <mat-form-field>
        <mat-label>Escolha a data de pesquisa</mat-label>
        <mat-date-range-input [rangePicker]="picker">
          <input matStartDate placeholder="Start date" />
          <input matEndDate placeholder="End date" />
        </mat-date-range-input>
        <mat-hint></mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>

      <div class="sliders">
        <mat-slide-toggle class="toggler" id="up">{{ toggleUpArrow }} </mat-slide-toggle>
        <mat-slide-toggle class="toggler" id="down">{{ toggleDownArrow }} </mat-slide-toggle>
      </div>

      <div class="sliders-arrow">
        <mat-icon
          aria-hidden="false"
          aria-label="Arrow Up"
          fontIcon="arrow_drop_up"
          id="up"
        ></mat-icon>
        <mat-icon
          aria-hidden="false"
          aria-label="Arrow Down"
          fontIcon="arrow_drop_down"
          id="down"
        ></mat-icon>
      </div>
      }
      <!--  <button matIconButton aria-label="Filter" (click)="datePicker = !datePicker" id="filter-btn">
        <mat-icon>filter_alt</mat-icon>
      </button> -->
    </div>
  </div>
  <div class="body-content">
    <div class="content">
      <div id="list-type-values">
        <div
          *ngFor="let item of itens"
          class="item-content"
          [ngClass]="{ positive: item.type == 'toReceive', negative: item.type == 'toPay' }"
        >
          <span id="card-order">
            <div class="left-info">
              <div>{{ item.info }}</div>
              <div>{{ item.date | date : 'dd/MM/yy' }}</div>
            </div>
          </span>
          <div class="right-info">
            <div>R${{ item.value }}</div>
            @if(item.type == 'toReceive'){<mat-icon
              aria-hidden="false"
              aria-label="Arrow Up"
              fontIcon="arrow_drop_up"
            ></mat-icon
            >} @if(item.type == 'toPay'){<mat-icon
              aria-hidden="false"
              aria-label="Arrow Down"
              fontIcon="arrow_drop_down"
            ></mat-icon
            >}
            <button matIconButton [matMenuTriggerFor]="menu">
              <mat-icon class="more-icon">more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="openRemoveItemDialog(item)">
                <mat-icon>delete</mat-icon>
                <span>Deletar</span>
              </button>
              <button mat-menu-item (click)="onEdit(item)">
                <mat-icon>edit</mat-icon>
                <span>Editar</span>
              </button>
              <button mat-menu-item>
                <mat-icon>check_circle</mat-icon>
                @if(item.type == 'toReceive'){<span>Marcar como recebido</span>} @if(item.type ==
                'toPay'){<span>Marcar como pago</span>}
              </button>
            </mat-menu>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
