<div class="body">
  <div class="head-info">
    <div class="right">
      <h2 id="balance-type">Total:</h2>
      <h2 id="total-value">R${{ getTotalValue() }}</h2>
    </div>
    <button matIconButton aria-label="Filter">
      <mat-icon>filter_alt</mat-icon>
    </button>
  </div>
  <div class="body-content">
    <div class="content">
      <div id="list-type-values">
        <div
          *ngFor="let item of items"
          class="item-content"
          [ngClass]="{ positive: item.type == 'toReceive', negative: item.type == 'toPay' }"
        >
          <span id="card-order">
            <div class="left-info">
              <div>{{ item.info }}</div>
              <div>{{ item.date | date : 'dd/MM/yy' }}</div>
            </div>
          </span>
          <div class="right-info">
            <div>R${{ item.value }}</div>
            @if(item.type == 'toReceive'){<mat-icon
              aria-hidden="false"
              aria-label="Arrow Up"
              fontIcon="arrow_drop_up"
            ></mat-icon
            >} @if(item.type == 'toPay'){<mat-icon
              aria-hidden="false"
              aria-label="Arrow Down"
              fontIcon="arrow_drop_down"
            ></mat-icon
            >}
            <button matIconButton [matMenuTriggerFor]="menu">
              <mat-icon class="more-icon">more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="openRemoveItemDialog(item)">
                <mat-icon>delete</mat-icon>
                <span>Deletar</span>
              </button>
              <button mat-menu-item (click)="onEdit(item)">
                <mat-icon>edit</mat-icon>
                <span>Editar</span>
              </button>
              <button mat-menu-item >
                <mat-icon>check_circle</mat-icon>
                @if(item.type == 'toReceive'){<span>Marcar como recebido</span>} 
                @if(item.type == 'toPay'){<span>Marcar como pago</span>}
              </button>
            </mat-menu>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
