:root{
    --color-midnight: #192e41;
    --color-dark-blue: #05263b;
    --color-blue-grotto: #0d659d;
    --color-green: #27AE60;
    --color-red: #C0392B;
    --color-white: #f5f5f5;
    --color-light-blue: #b0c4de;    
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--color-dark-blue);
}